/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'Nunito Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}

:root {
    --cafe-bg-color: #800000;
    --amarillo-bg-color: #FFFFA7;
    --rosado-bg-color: #FAA786;
    --rojo-bg-color: #FF4343;
    --naranja-bg-color: #FF9021;
    --azul-bg-color: #8EE7D2;
    --piel-bg-color: #FFE8BC;
}

/*____________INDEX_______________*/


/*________________________________*/
/*------------  NAV ------------ */
/*________________________________*/

#nav_drawer {
    position: absolute;
    width: 200px;
    height: 100vh;    
    background-color: var(--azul-bg-color);
    position: fixed;
    flex-direction: column;
    display: flex;
}
#navbar_logo{
    width: 150px;
    height: 150px;
    padding: 25px;
}

#nav_drawer span {
    font-weight: 700;
    font-size: 19px;
}

#nav_drawer a {
    margin: 5px 30px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: var(--cafe-bg-color);
}

.info{
    margin: 15px 0px;
}




#buttonreg_nav{
    width: 150px;
    height: 30px;
    font-size: 18px;
    position: absolute;
    left:    25px;
    bottom:   10px;
    border: 1px solid var(--cafe-bg-color);
    border-radius: 10px;
    color: var(--cafe-bg-color);
    background-color: rgb(243, 229, 222);
}

#link_registro{

    text-decoration: none;
}

#buttonreg_nav:hover{
    cursor: pointer;
    border: 2px solid var(--cafe-bg-color);
    background-color: var(--piel-bg-color);
    box-shadow: 2px 2px 10px 2px #8000006c;
}




#contenedor{
    width: calc(100% - 200px);
    height: 100vh;
    margin-left: 200px;


}

/*________________________________*/
/*------------  HOME ------------ */
/*________________________________*/
#section_Home{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--piel-bg-color);
    font-weight: 600;
    background: rgba(3, 3, 3, 0.2) fixed no-repeat 50% 50%;
    background-size: cover;
    background-image: url("../img/fondo_4.png");

}

#section_Home #car{
    width: 600px;
    height: 300px;
    margin: auto;
}
#section_Home #nombre1{
    width: 300px;
    height: 00px;
    margin: 15px 100px 0px 100px;
    font-size: 50px;
    transition: all 1.0s;
    user-select: none;
}

#section_Home #nombre2{
    width: 300px;
    margin: 0px 10px 15px 179px;
    font-size: 50px;
    transition: all 1.0s;
    user-select: none;
}

#section_Home span{
    font-size: 60px;
    transition: all 1.0s;
    user-select: none;
    color: var(--piel-bg-color);
}

#section_Home #descripcion{
    width: 580px;
    margin: 10px;
    line-height: 25px;
    font-size: 20px;
    text-align: justify;
    user-select: none;
}

#section_Home #car:hover #nombre1{
    height: 50px;
    margin-top: -5%;
    font-size: 70px;
}
#section_Home #car:hover #nombre2{
    font-size: 70px;
}
#section_Home #car:hover span{
    font-size: 70px;
    color: var(--piel-bg-color);
}



/*_____________________________________________________________________________________*/
/*____________________________________ RECETAS _________________________________________*/
/*_____________________________________________________________________________________*/

#section_Recetas {
    width: 100%;
    height: 100vh;
    background: rgb(255,232,168);
    background: linear-gradient(0deg, rgba(255,232,168,1) 0%, #898f0fcb 30%, rgba(255, 255, 231, 0.5) 70%, rgba(255,255,255,1) 100%);
    background: rgba(3, 3, 3, 0.2) local no-repeat 50% 50%;
    background-size: cover;
    background-image: url("../img/fondo_6.png");
}


.titulo {
    font-size: 50px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 200px;
    color: #000000;
    user-select: none;
    font-family: 'Nunito Sans', sans-serif;
}

.content-all{
    width: 100%;
    perspective: 1000px;
    align-items: center;
    padding-top: 5%;
}

.content-carrousel{
    width: 200px;
    animation: rotar 50s infinite linear;
    transform-style: preserve-3d;
    margin: auto;
}



.content-carrousel figure{
    width: 100%;
    height: 100%;
    position: absolute;
}


.content-carrousel h4{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-decoration: none;
}

.content-carrousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2){
    transform: rotateY(45deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3){
    transform: rotateY(90deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4){
    transform: rotateY(135deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5){
    transform: rotateY(180deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6){
    transform: rotateY(225deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7){
    transform: rotateY(270deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8){
    transform: rotateY(315deg) translateZ(300px);
}

.content-carrousel img{
    width: 200px;
    align-items: center;
    box-shadow: 1px 1px 5px 2px rgb(123, 123, 123);
}
.content-carrousel img:hover{
    width: 210px;
    align-items: center;
    margin-top: -5px;
    margin-right: -5px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 2px rgb(255, 255, 255);
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}


/*_____________________________________________________________________________________*/
/*____________________________________ SERVICIOS _________________________________________*/
/*_____________________________________________________________________________________*/
#section_servicios div{
    width: 900px;
    height: 0px;
    background-color: rgb(0, 26, 255);

}











/*_____________________________________________________________________________________*/
/*____________________________________ REGISTRO _________________________________________*/
/*_____________________________________________________________________________________*/

#contenedor_registro{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(3, 3, 3, 0.2) fixed no-repeat 50% 50%;
    background-size: cover;
    background-image: url("../img/fondo_seccion_2.png");

}
#form_registro_usuario {
    width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:var(--azul-bg-color);
}

#form_registro_usuario #logo{
    width:150px;
	margin:10px 75px 10px 75px;
}



#form_registro_usuario input{
    width: 200px;
    height: 20px;
    margin:  20px auto ;
    display: block;

    border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;


	padding:3px 10px;
    
}

#btn_enviar_registro{
    display: block;
    font-size: 18px;
    width: 150px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid var(--cafe-bg-color);
    border-color: var(--cafe-bg-color);
    border-radius: 10px;
    color: var(--cafe-bg-color);
}

#btn_enviar_registro:hover{
    cursor: pointer;
    border: 2px solid var(--cafe-bg-color);
    background-color: var(--piel-bg-color);
    box-shadow: 2px 2px 10px 2px #8000006c;
}

