/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Nunito Sans', sans-serif;
box-sizing: border-box;
}

:root {
    --cafe-bg-color: #800000;
    --amarillo-bg-color: #FFFFA7;
    --rosado-bg-color: #FAA786;
    --rojo-bg-color: #FF4343;
    --naranja-bg-color: #FF9021;
    --azul-bg-color: #8EE7D2;
    --piel-bg-color: #FFE8BC;

}

/**************   HEADER     ************/




#menu{
    width: 100%;
    height: 80px;
    background-color: var(--azul-bg-color);
    position: fixed;
    z-index: 100;
    flex-direction: row;
    display: flex;
}


#menu img{
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;

}

.nawRecetas{
    list-style-type: none;
    overflow: hidden;
    margin-left: 5%;
    width: 100%;
}
.nawRecetas li {
    float: left;
  }
.nawRecetas span {
    font-weight: 700;
    font-size: 19px;
}
.nawRecetas .actual{
    border-bottom: 3px solid var(--rojo-bg-color);
}
  .nawRecetas  li a {
    display: block;
    color: var(--cafe-bg-color);
    text-align: center;
    padding: 29px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nawRecetas  li a:hover {
    color: var(--cafe-bg-color);
    font-weight: 900;
  }

  .nawRecetas .busqueda{
    width: 40%;
    float: right;
  }
  .nawRecetas  li  input{
    width: 100%;
    display: block;
    color: var(--cafe-bg-color);
    text-align: center;
    padding: 4px 20px;
    margin: 25px -60px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid var(--cafe-bg-color);
    text-align: left;
  }
  .nawRecetas  ul{
    width: 100%;
    
  
  }



/**************   footer     ************/
.footer_section {
  background-color: #273135;
  padding: 20px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.footer_section p {
  color: #fbfcfd;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fbfcfd;
}


